<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Diablo_4_Compare.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Diablo_4_Compare.Properties.Settings>
            <setting name="selected_class" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_cb_1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_19" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_21" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_22" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_23" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_24" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_25" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_26" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_27" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_28" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_29" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_30" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_31" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_32" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_33" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_34" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_35" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_36" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_37" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_38" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_39" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_40" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_41" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_42" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_43" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_cb_44" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="skills_text_1" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_2" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_3" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_4" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_5" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_6" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_7" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_8" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_9" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_10" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_11" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_12" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_13" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_14" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_15" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_16" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_17" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_18" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_19" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_20" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_21" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_22" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_23" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_24" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_25" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_26" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_27" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_28" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_29" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_30" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_31" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_32" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_33" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_34" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_35" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_36" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_37" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_38" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_39" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_40" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_41" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_42" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_43" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_44" serializeAs="String">
                <value />
            </setting>
            <setting name="skills_text_45" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_cb_1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_15" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_16" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_17" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_18" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_19" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_20" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_21" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_22" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_23" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_24" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_25" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_26" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_27" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_28" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_cb_29" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="abs_text_1" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_2" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_3" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_4" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_5" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_6" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_7" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_8" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_9" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_10" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_11" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_12" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_13" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_14" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_15" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_16" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_17" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_18" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_19" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_20" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_21" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_22" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_23" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_24" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_25" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_26" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_27" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_28" serializeAs="String">
                <value />
            </setting>
            <setting name="abs_text_29" serializeAs="String">
                <value />
            </setting>
            <setting name="glyph_cb_1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glyph_cb_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glyph_cb_3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glyph_cb_4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glyph_cb_5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glyph_cb_6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glyph_cb_7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glyph_cb_8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glyph_cb_9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glyph_cb_10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glyph_cb_11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glyph_cb_12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="glyph_text_1" serializeAs="String">
                <value />
            </setting>
            <setting name="glyph_text_2" serializeAs="String">
                <value />
            </setting>
            <setting name="glyph_text_3" serializeAs="String">
                <value />
            </setting>
            <setting name="glyph_text_4" serializeAs="String">
                <value />
            </setting>
            <setting name="glyph_text_5" serializeAs="String">
                <value />
            </setting>
            <setting name="glyph_text_6" serializeAs="String">
                <value />
            </setting>
            <setting name="glyph_text_7" serializeAs="String">
                <value />
            </setting>
            <setting name="glyph_text_8" serializeAs="String">
                <value />
            </setting>
            <setting name="glyph_text_9" serializeAs="String">
                <value />
            </setting>
            <setting name="glyph_text_10" serializeAs="String">
                <value />
            </setting>
            <setting name="glyph_text_11" serializeAs="String">
                <value />
            </setting>
            <setting name="glyph_text_12" serializeAs="String">
                <value />
            </setting>
            <setting name="mainStat" serializeAs="String">
                <value />
            </setting>
            <setting name="skillDamage" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Implicit_Combo" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Implicit_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Stat1_Combo" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Stat2_Combo" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Stat3_Combo" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Stat4_Combo" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Stat5_Combo" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Stat1_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Stat2_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Stat3_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Stat4_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Stat5_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Min_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon1Max_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Implicit_Combo" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Implicit_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Stat1_Combo" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Stat2_Combo" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Stat3_Combo" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Stat4_Combo" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Stat5_Combo" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Stat1_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Stat2_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Stat3_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Stat4_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Stat5_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Min_Text" serializeAs="String">
                <value />
            </setting>
            <setting name="weapon2Max_Text" serializeAs="String">
                <value />
            </setting>
        </Diablo_4_Compare.Properties.Settings>
    </userSettings>
</configuration>